body {
    background-color: rgb(219, 211, 199);
}

div {
    width: 35%;
    border-style: solid;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    background-color: #ffffff;
}

.valores {
    float: right;
    color: red;
}

p {
    font-size: 60px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

@media only screen and (max-width:800px) {
    div {
        display: block;
        width: 100%;
        font-size: 25px;
    }

    .valores {
        float: right;
        font-size: 25px;
    }
}