<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/estilo.css" media="screen" />
    <title>A cuento esta</title>
</head>

<body>
    <p>Valor Diario [
        <script>var fecha = new Date();
            document.write(fecha.getDate() + "/" + (fecha.getMonth() + 1) + "/" + fecha.getFullYear());</script>]
    </p>
    <div>
        Euribor
        <label class="valores">
            {{ euribor_hoy }}
        </label>
    </div>
    <br>
    <div>
        Gasolina 95
        <label class="valores">
            {{ gasolina95_hoy }}
        </label>
    </div>
    <br>
    <div>
        Gasolina 98
        <label class="valores">
            {{ gasolina98_hoy }}
        </label>
    </div>
    <br>
    <div>
        Diésel
        <label class="valores">
            {{ diesel_hoy }}
        </label>
    </div>
    <br>
    <div>
        Oro
        <label class="valores">
            {{ oro_hoy }}
        </label>
    </div>
    <br>
    <div>
        Bitcoin
        <label class="valores">
            {{btc_hoy }} $
        </label>
    </div>
</body>

</html>