<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/estilo.css" media="screen" />
    <title>A cuento esta</title>
</head>
<body>
    <p>A cuanto esta el</p>
    <nav class="menu">   
          Euribor
          {{ euribor_hoy }}
          <br>
          Gasolina 95
          {{ gasolina95_hoy }}
          <br>
          Gasolina 98
          {{ gasolina98_hoy }}
          <br>
          Oro
          VALOR
          <br>
          Bitcoin
          VALOR
          <br>
          IPC
          VALOR
      </nav>
      
</body>
</html>